* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: 20vh;
  height: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 5px;

  background-color: #fff000;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:not(:disabled):hover,
button:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

button:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

input {
  height: 40px;
  width: 90vh;
  display: flex;
  text-align: center;

  border: 2px solid;
  border-color: #f4e603;
  border-radius: 5px;
}

.add {
  display: flex;

  margin: 30px;
  justify-content: center;
  align-items: center;
}

.add button {
  width: 20vh;
}

.add hr {
  display: block;
}

p {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 150vh;
  border: 1px solid;
  margin: 5px;
  padding: 10px;
  border: 2px solid;
  border-color: #f4e603;
  border-radius: 5px;

  transition: color 0.3s ease;
  user-select: none;
}

p:hover {
  cursor: pointer;
}
